<div class="container">
  <div class="row">
    <div class="col-sm">
      <button (click)="onError1()" class="btn btn-primary btn-lg">
        Auth error
      </button>
    </div>
    <div class="col-sm">
      <button (click)="onError2()" class="btn btn-primary btn-lg">
        Not found
      </button>
    </div>
    <div class="col-sm">
      <button (click)="onError3()" class="btn btn-primary btn-lg">
        Server error
      </button>
    </div>
    <div class="col-sm">
      <button (click)="onError4()" class="btn btn-primary btn-lg">
        Bad request
      </button>
    </div>
  </div>
</div>
