<div class="row">
  <div class="col-2" *ngFor="let photo of member!.photos">
    <img
      src="{{ photo!.url }}"
      alt="{{ photo.url }}"
      class="img-thumbnail p-1"
    />
    <div class="text-center">
      <button
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo.id)"
        class="btn btn-primary btn-sm"
      >
        Main
      </button>
      <button
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"
        class="btn btn-sm btn-danger"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<label class="image-upload-container btn btn-bwm">
  <span>Add new photo</span>
  <input
    #imageInput
    type="file"
    accept="image/*"
    (change)="processFile(imageInput)"
  />
</label>
